{:lein true
 :builds {:browser-dev {:target :browser
                        :output-dir "public/js"
                        :asset-path "/js"
                        :modules {:main {:entries [cljs-0x-connect.dev]}}
                        :devtools {:http-root "public"
                                   :http-port 8080
                                   :before-load cljs-0x-connect.dev/stop
                                   :after-load cljs-0x-connect.dev/start}}

          :node-dev {:target :node-script
                     :output-to "server-dev/main.js"
                     :main cljs-0x-connect.dev/init
                     :devtools {;;:before-load-async cljs-0x-connect.dev/stop
                                :after-load cljs-0x-connect.dev/start}}

          :browser {:target :browser
                    :output-dir "public/js"
                    :asset-path "/js"
                    ;; :modules {:http-client {:entries [cljs-0x-connect.http-client]}
                    ;;           :ws-orderbook {:entries [cljs-0x-connect.ws-orderbook]}}
                    }

          ;; TODO :export all sigs
          :node {:target :node-library
                 :output-to "server/cljs_0x_connect.js"
                 :exports {:create-http-client cljs-0x-connect.http-client/create-http-client
                           :create-orderbook-channel cljs-0x-connect.ws-orderbook/create-orderbook-channel}}

          :ci {:target :karma
               :output-to "ci/ci.js"
               :ns-regexp "-test$"}}}
